h1{
    text-align: center;
    color: gray;
}
p{
    background-color: rgba(0, 128, 0, 0.552);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}